div{
    display: flex;

    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 5px;
    padding: 10px 0;

    background-color: #f3f8ff;

    img{
        &:hover {
            cursor: pointer;
        }
    }

    > a, > img{
        width: calc(100% / 10);
        height: auto;

        object-fit: cover;

        &.github{
            background-image: url(/github.svg);
        }

        &.linkedin{
            background-image: url(/linkedIn.svg);
            background-size: contain;
        }

        &#pdf{
            background-image: url(/Icon_of_CV.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }


}