div.target {
    position: relative;

    background-image: url('/Target.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 95%;
    aspect-ratio: 1 / 1;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &:hover {
        cursor: pointer;

        & + h3 {
            position: absolute;
            display: block;

            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;

            margin-bottom: 10px;
            padding: 5px 10px;

            white-space: nowrap;
        }
    }
}

h3 {
    display: none;
}

.container {
    position: absolute;

    border-radius: 5px;

    transform: translate(-50%, -50%);

    animation:
        random-float
        var(--float-duration)
        ease-in-out
        var(--float-delay)
        infinite
        alternate;

    &.best {
        padding: 3px;

        background:
            linear-gradient(
                120deg,
                #BF953F 0%,
                #FCF6BA 20%,
                #B38728 40%,
                #FBF5B7 60%,
                #AA771C 80%,
                #FCF6BA 100%
            );

        background-size: 300% 300%;

        animation:
            random-float
            var(--float-duration)
            ease-in-out
            var(--float-delay)
            infinite
            alternate,
            gold-shine
            var(--float-duration)
            ease-in-out
            var(--float-delay)
            infinite
            alternate;
    }

    > .element {
        height: auto;

        border-radius: 5px;
        padding: 4px 2px;
        background-color: #f3f8ffa0;
    }

    > .word {
        max-width: 6dvh;

        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    > .flag {
        width: 4dvh;
        padding: 0;
        background-color: none;
    }

    > .icon {
        width: 3dvh;
    }
}

@keyframes random-float {
    0% {
        transform: translate(
            calc(-50% - var(--float-x)),
            calc(-50% - var(--float-y))
        );
    }

    20% {
        transform: translate(
            calc(-50% + var(--float-x) * 0.3),
            calc(-50% - var(--float-y) * 0.7)
        );
    }

    40% {
        transform: translate(
            calc(-50% + var(--float-x) * 0.8),
            calc(-50% + var(--float-y) * 0.1)
        );
    }

    60% {
        transform: translate(
            calc(-50% - var(--float-x) * 0.2),
            calc(-50% + var(--float-y))
        );
    }

    80% {
        transform: translate(
            calc(-50% - var(--float-x) * 0.8),
            calc(-50% + var(--float-y) * 0.3)
        );
    }

    100% {
        transform: translate(
            calc(-50% + var(--float-x)),
            calc(-50% - var(--float-y) * 0.2)
        );
    }
}

@keyframes gold-shine {
    0% {
        background-position: 0% 0%;
    }

    20% {
        background-position: 30% 70%;
    }

    40% {
        background-position: 80% 10%;
    }

    60% {
        background-position: 20% 100%;
    }

    80% {
        background-position: 90% 30%;
    }

    100% {
        background-position: 50% 80%;
    }
}