div.target{
    position: relative;
    background-image: url('/Target.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/ 1;
    transform-origin: center;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    &:hover{
        cursor: pointer;

        & + h3{
            position: absolute;
            display: block;

            left: 50%;
            transform: translateX(-50%);
            bottom: 100%;

            margin-bottom: 10px;
            padding: 5px 10px;
            white-space: nowrap;
        }
    }
}

h3{
    display: none;
}

img.icon{
    position: absolute;
    width: 18%;
}