  
<aside>
  <div class="title">
    <h1>Pierre VIPREY</h1>
    <h2>junior fullstack developer</h2>
  </div>

  <div class="grid">
    <app-grading [title]="'Backend'"></app-grading>
    <app-grading [title]="'Frontend'"></app-grading>
    <app-grading [title]="'Database'"></app-grading>
    <app-grading [title]="'Soft Skills'"></app-grading>
    <app-grading [title]="'Testing'"></app-grading>
    <app-grading [title]="'Operating System'"></app-grading>
    <app-grading [title]="'Languages'" [svgs]="language"></app-grading>
    <app-grading [title]="'DevOps'"></app-grading>
    <div class="profilPicture">
      <img src="/profilPicture.jpeg" alt="Profil Picture">
    </div>
  </div>

  <app-contacts></app-contacts>
</aside>
<router-outlet></router-outlet>